
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cover {
  text-align: center;
  width: 375px;
}

h1 {
  color: #444;
  font-size: 40px;
  margin: 5px;
}

h4 {
  color: #444;
  font-size: 15px;
}

.subtitle {
  color: #444;
  font-weight: bold;
  font-size: 20px;
  
}

.hint-text {
  color: black;
  margin: 5px;
  font-weight: bold;
}

.start-button {
  background-color: #fdf6d8 !important;
  color: #444 !important;
  border: none;
  width: 50%;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}
