@font-face {
  font-family: 'Mplus 1p Bold';
  src: url('fonts/mplus-1p-bold.woff2') format('woff2'),
       url('fonts/mplus-1p-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --card-gap: 20px;
}

.minifig-list {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap); /* rows spaced evenly */
}

.minifig-img,
.upload-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 20px;
}

.minifig-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--card-gap); /* spacing between columns */
  background-color: #f1d75c;
  padding-left: 20px;
  border-radius: 20px;
}

.minifig-column,
.upload-column {
  flex: 1;
  min-width: 40%;
  max-width: 48%;
  background-color: #fdf6d8;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 12px;
  text-align: center;
}

.minifig-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 6px 0;
  color: black;
  font-family: var(--font-family-inter);
}

.minifig-img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 20px;
  margin: 5px 0;
}

.upload-placeholder {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444;
  font-size: 0.9rem;
}

.upload-title {
  padding-top: 55px;
  font-family: var(--font-family-inter);
  font-weight: bold;
}

input[type="file"] {
  margin-top: 8px;
  font-size: 0.8rem;
}

.camera-button {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.camera-button:hover {
  transform: scale(1.1);
}

.camera-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #fff;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.upload-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.upload-img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.retake-button {
  display: inline-block;
  background-color: #fff;
  color: #444;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.retake-button:hover {
  transform: scale(1.1);
}