.choose-hunt {
    color: black;
    margin-bottom: 20px;
}

.hunt-buttons {
    color:#444;
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
    background-color: #fdf6d8;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.hunt-list {
    list-style: none;
    padding: 0;
}

.button-format {
    margin-bottom: 12px;
}

.hint-text {
  color: black;
  margin: 5px;
  font-weight: bold;
}

.hint-text2 {
    color:#444;
    margin: 5px;
    font-size: 12px;
    font-weight:bold;
}

.hunt-page {
    width: 375px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}